<?xml version="1.0"?>
<launch>
    <arg name="veh" default="pi" doc="Name of vehicle."/>
	
	<!-- supervisor node -->
	<include file="$(find duckietown)/launch/stop_line_control.launch">
        <arg name="veh" value="$(arg veh)"/>
        <param name="input_mode" type="bool" value="true"/>
    </include>
    
	<!-- uber node -->
	<node ns="$(arg veh)"  name="uber_node" pkg="uber" type="uber.py" output="screen" required="true">
		<rosparam file="$(find uber)/config/town.yaml" />
		<param name="start" type="str" value="1" />
		<param name="end" type="str" value = "2"/>
		<param name="mode" type="str" value="taxi"/>
    </node>

</launch>